* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}
.container {
    display: flex;
    height: 10vh;
    align-items: center;
}
.calculator {
    padding: 16px;
    margin: auto;
    border-radius: 30px;
    background-color: rgb(204, 218, 248);
    display: grid;
    grid-template-columns: repeat(4, 68px);
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(197, 186, 186);
    justify-content: center;
    width: 350px;
}
input {
    height: 70px;
    width: 270px;
    justify-content: center;
    grid-column: span 4;
    background-color: rgb(205, 233, 255);
    box-shadow: inset 5px 5px 12px #fff, -5px -5px 12px rgb(196, 196, 224);
    border: none;
    border-radius: 10px;
    color: rgb(57, 15, 96);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button {
    background-color: rgb(248, 192, 229);
    height: 50px;
    width: 55px;
    border: none;
    border-radius: 50%;
    box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgb(195, 183, 250);
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(17, 16, 16);
}
.hasil {
    width: 120px;
    border-radius: 45px;
    box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgb(187, 182, 240);
    background-color: rgb(205, 233, 255);
    
}
button:hover {
    background-color: rgb(205, 233, 255);
    color: rgb(19, 18, 18);
}
.hasil:hover {
    background-color: rgb(223, 174, 215);
    color: rgb(19, 18, 18);
}